{% extends "index.html" %} 

{% block title %}Shopping List{% endblock %}

{% block content %}

  <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="http://media.safebee.com/assets/images/2016/1/password%20lock.jpg.838x0_q67_crop-smart.jpg" width='300' alt="">
                    <div class="intro-text">
                        <h1 class="name"></h1>
                        <hr class="star-light">
                        <span class="skills">Generate password!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Password generator</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" action="/pass_gen" method="POST">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">Start Converting</label>
                                <input type="text" name="text" class="form-control" placeholder="Enter Password Length" name="my-form" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div> 
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-lg-offset-2">
                                <button type="submit" class="btn btn-success btn-lg">Generate</button>
                              </div>  
                            </div>
                            <div class="row">
                    <div class="col-lg-12 text-center">
                    <p style="font-size:30px">YOUR PASSWORD = {{result}}</p>
                    <hr class="star-primary">
                </div>    
                    </form>
        </div>
    </div>
</section>
{% endblock %}

{% block footer%}
{% endblock %}
